<html>
<head>

    <title>Update AVI</title>
    <!-- Bootstrap CSS and fa-icon -->
    <link rel="stylesheet" href="/include/bootstrap.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="avi.css">
    <link href="https://fonts.googleapis.com/css2?family=David+Libre:wght@400;500;700&display=swap" rel="stylesheet">    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">


    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/include/jquery.min.js"></script>
    <script src="/include/bootstrap.js"></script>
    <script src="/include/popper.min.js"></script>
    <script src="/avi.js"></script>

</head>

<body>

    <h1>SayLess</h1>
    <a href="/profile"><i class="fas fa-cog"></i></a> <!-- link to the profile page -->
    
	<center>

    <h2>Click on the "Choose File" button to upload a picture:</h2>

    <div class="form-row">
        <div class="col">
            <form action=#>
                <input type="file" id="myFile" name="filename"><br>
                <input id="submit" type="submit" class="btn1">
            </form>        
          </div>
      </div>
	</center>
</body>
</html>