<!DOCTYPE html>
  <html lang="en">
  <head>
    <title>Flask_Chat_App</title>
    <link rel="stylesheet" href="/include/bootstrap.css">
    <link rel="stylesheet" href="/chat.css">
    <link href = "https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel = "stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    </head>
  <body>

    <!-- <div style="width:600px;height:500px;">
      <h3 id = "header">{{user}}</h3>
      <textarea readonly id="chat" cols="80" rows="20">{{messages}}</textarea><br><br>
      <input type="text" class="message" placeholder="Message..."/>
      <Button id="send"> Send </Button>
    </div> -->
    <h3 id="header">{{user}}</h3>
    <div class="morediv" style="width:600px;height:450px;">
      <div id = "messages" class="bubbleWrapper">
        {% for message in messages %}
          {% if messages[message] %}
            <p class="receivedmessage">{{message}}</p>
          {% else %}
            <p class="sentmessage">{{message}}</p>
          {% endif %}
        {% endfor %}
      </div>
    </div>

    <input type="text" class="message" placeholder="Message..."/>
    <Button id="send"> Send </Button>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
    <script src="/chat.js"></script>

  </body>
  </html>