<html>
<!-- For metadata, such as linking javascript and css -->
<head>

  <title>Login</title>
  <!-- Bootstrap CSS and fa-icon -->
  <link rel="stylesheet" href="../statics/include/bootstrap.css">
  <link rel="stylesheet" href="../statics/include/fontawesome/css/all.css">
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="../statics/include/jquery.min.js"></script>
  <script src="../statics/include/bootstrap.js"></script>
  <script src="../statics/include/popper.min.js"></script>

</head>
<center>
    <h1>WELCOME!!</h1>
    <h2>This is just to show you how backend would possibly look like</h2>
</center>

</html>
