<html>
<!-- For metadata, such as linking javascript and css -->
<head>

  <title>SayLess - Home</title>
  <!-- Bootstrap CSS and fa-icon -->
  <link rel="stylesheet" href="/include/bootstrap.css">
  <link rel="stylesheet" href="/home.css">
  <link href = "https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel = "stylesheet">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src='https://kit.fontawesome.com/a076d05399.js'></script>


  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src = "https://code.jquery.com/jquery-1.10.2.js"></script>
  <script src = "https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
  <script src="/include/bootstrap.js"></script>
  <script src="/include/popper.min.js"></script>
  <script src="/home.js"></script>

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script> -->
  <!-- <script src="/chat.js"></script>  commenting out right now until implementation -->

</head>
<body>
  <h1>SayLess</h1>
  <a href="/profile"><i class="fas fa-user-alt"></i></a>
  <hr>
  <div class = "ui-widget">
    <p id="truth"></p>
      <form id="usersearch">
        <input id = "autocomplete-3" placeholder="Search...">
        <button type="submit" id="chat">Chat</button>
      </form>
  </div>
  <hr>

  <table style="width:100%">
    <tr>
      <th>
        <h2>Open Chats:</h2>
        <ul id = "openchats"></ul>
      </th>
      <th>
        <center><iframe id="chatframe" src="" style="width:0;height:0;border:0;border:none;"></iframe></center>
      </th>
    </tr>
  </table>
</body>

</html>