<html>
<!-- For metadata, such as linking javascript and css -->
<head>

  <title>SayLess - Home</title>
  <!-- Bootstrap CSS and fa-icon -->
  <link rel="stylesheet" href="/include/bootstrap.css">
  <link rel="stylesheet" href="/home2.css">
  <link href = "https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel = "stylesheet">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src='https://kit.fontawesome.com/a076d05399.js'></script>


  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="/include/jquery.min.js"></script>
  <script src="/include/bootstrap.js"></script>
  <script src="/include/popper.min.js"></script>
  <script src="/dummy.js"></script>

</head>
<body>
  <h1>SayLess</h1>
    <hr>
    <div class = "ui-widget">
        <form id="search_form">
            <input id = "automplete-3" placeholder="Search...">
            <button type="submit" id="chat">Start a New Chat</button>
        </form>
    </div>
    <button><i class='fas fa-user-alt'></i></button>    <!--Settings Link -->
    <hr>
    <h2>Your Frequents:</h2>
    <h2 class="suggested">Suggested:</h2>
</body>

</html>