<html>
<!-- For metadata, such as linking javascript and css -->
<head>

  <title>SayLess - Home</title>
  <!-- Bootstrap CSS and fa-icon -->
  <link rel="stylesheet" href="/include/bootstrap.css">
  <link rel="stylesheet" href="/home.css">
  <link href = "https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel = "stylesheet">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src='https://kit.fontawesome.com/a076d05399.js'></script>


  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src = "https://code.jquery.com/jquery-1.10.2.js"></script>
  <script src = "https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
  <script src="/include/bootstrap.js"></script>
  <script src="/include/popper.min.js"></script>
  <script src="/home.js"></script>

</head>
<body>
  <h1>SayLess</h1>
    <a href="/profile"><i class='fas fa-user-alt'></i></a>
    <hr>
    <div class = "ui-widget">
      <p id="truth"></p>
        <form id="usersearch">
          <input id = "autocomplete-3" placeholder="Search...">
          <button type="submit" id="chat">Start a New Chat</button>
        </form>
    </div>
    <hr>
    <h2>Your Frequents:</h2>
    <h2 class="suggested">Suggested:</h2>
</body>

</html>