<html>
<head>

    <title>Profile</title>
    <!-- Bootstrap CSS and fa-icon -->
    <link rel="stylesheet" href="/include/bootstrap.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="profile.css">
    <link href="https://fonts.googleapis.com/css2?family=David+Libre:wght@400;500;700&display=swap" rel="stylesheet">    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">


    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/include/jquery.min.js"></script>
    <script src="/include/bootstrap.js"></script>
    <script src="/include/popper.min.js"></script>
    <script src="/profile.js"></script>

</head>
<body>
    <a href="/" style="text-decoration: none;"><h1>SayLess</h1></a>
    <a href="/logout"><i class="fas fa-sign-out-alt"></i></a>
    <a href="/profile"><i class="fas fa-cog"></i></a>

    <div class="split left">
        <div class="centered">
            <div class="col lg-8 pb-5">
                <form class="col">
                    <div class="form-row">
                        <div class="col">
                            <img src="{{filename}}" loading="lazy" alt="Avatar" class="avatar" height=250 width=250>
                        </div>
                    </div>	
                    
                    <a href="/avi">Edit</a> <!--link to update avi page-->
                </form>
            </div>
        </div>
    </div>
        
    <div class="split right">
        <div class="centered">
            <form class="row">
                <div class="col">
                    <div class="form-group">
                        <input class="form-control" type="text" placeholder="{{FirstName}}" id="fn">  
                    </div>
                </div>
                
                <div class="col">
                    <div class="form-group">
                        <input class="form-control" type="text" placeholder="{{LastName}}" id="ln">  
                    </div>
                </div>
            </form>
            
            <div class="col">
                <div class="form-group">
                    <input class="form-control" type="text" id="username" placeholder="{{username}}">  
                </div>
            </div>
    
            <div class="col">
                <div class="form-group">
                    <label for="bio">Change Bio:</label>
                    <input class="form-control" type="text" id="bio" placeholder="Change/Add your Bio Here">
                    <label for="bio_text">Bio:</label>
                    <text class="form-control" readonly id="bio_text">{{bio}}</text>  
                </div>
            </div>
        
            <div class="col">
                <div class="form-group">
                    <label for="new-pw">Update Password:</label>
                    <input class="form-control" type="password" id="new-pw">
                </div>
            </div>

            <div class="form-row">
                <div class="col">
                    <button id="update" type="submit" class="btn1">Update</button>
                    <p id="usrMsg"></p>
                </div>
            </div>

            <a href="/block">Block Users</a>
            <a href="/deleteacc">Delete Account</a>

        </div>
    </div>

</body>

</html>