<html>
<!-- For metadata, such as linking javascript and css -->
<head>

  <title>SayLess - Sign Up</title>
  <!-- Bootstrap CSS and fa-icon -->
  <!-- <link rel="stylesheet" href="/include/bootstrap.css"> -->
  <link rel="stylesheet" href="/statics/registration.css"
  <link href="https://fonts.googleapis.com/css2?family=David+Libre:wght@400;700&display=swap" rel="stylesheet">

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="/include/jquery.min.js"></script>
  <script src="/include/bootstrap.js"></script>
  <script src="/include/popper.min.js"></script>

</head>

<body>
  <div class="cont">
    <div class="form">
      <h2>Register</h2>
      <hr>
      <p>Create your account. It's free and only takes a minute!</p>
      
      <div class="row">
        <div class="col-50">
          <input type="first-name" name="first-name" placeholder="First Name" required>
        </div>
        <div class="col-50">
          <input type="last-name" name="last-name" placeholder="Last Name" required>
        </div>
      </div>

      <label>
        <input type="email" name="email" placeholder="Email" required>
      </label>
      <label>
        <input type="username" name="username" placeholder="Username" required>
      </label>
      <label>
        <input type="password" name="password" placeholder="Password" required>
      </label>
      <label>
        <input type="confirm-password" name="confirm-password" placeholder="Confirm Password" required>
      </label>
      <button class="submit" type="button">Register</button>
    </div>
  </div>
</body>
</html>
