<!-- If brought to this oage the user should be able to enter a new password and confirm it, then get brought back to login page-->
<!-- Upon proper password change kill the token so the url here becomes invalid-->
<html>
<!-- For metadata, such as linking javascript and css -->
<head>

  <title>SayLess - Reset_Password</title>
 
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="/include/jquery.min.js"></script>
  <script src="/include/bootstrap.js"></script>
  <script src="/include/popper.min.js"></script>
  <script src="/reset_pass.js"></script>

</head>

<!-- This page is where they simply enter the email associated with the account they want to reset the pass on -->
<!-- Upon entering email give same prompt no matter if its a email in our db or not -->
<!-- If it is valid send link to email if not do nothing -->
<body>
<center>
<div>
    <form id=reset style="margin-top: 10%;" class="resetForm" onsubmit="return false" >
        <p>Please Enter Your new Password</p>
        <p hidden id="{{user_id}}" class="user"></p>
        <p hidden id="{{token}}" class="token"></p>
        <p id="usrMsg"></p>
        <label>
            <input type="password" id="password" name="password" placeholder="Password" required>
          </label>
          <label>
            <input type="password" id="password2" name="confirm-password" placeholder="Confirm Password" required>
          </label>
          <button class="submit" >Reset</button>
    </form>
</div>
</center>
</body>