<html>
<!-- For metadata, such as linking javascript and css -->
<head>

  <title>SayLess - Reset_Request</title>
 
  <script src = "https://code.jquery.com/jquery-1.10.2.js"></script>
  <script src="/reset_request.js"></script>

</head>

<!-- This page is where they simply enter the email associated with the account they want to reset the pass on -->
<!-- Upon entering email give same prompt no matter if its a email in our db or not -->
<!-- If it is valid send link to email if not do nothing -->
<div>
  <a href="/login">
    <p>SayLess</p>
  </a>
</div>
<center>
<div>
    <form id="resetForm" style="margin-top: 10%;" >
        <p>Enter Account Email we should send a reset link to.</p>
        <input type="email" placeholder="Email" id="resetEmail" class="form-control"
                                                required="true">
         <button type="submit" class="btn1">Request Reset</button>
    </form>
</div>
</center>