body{
    background-color: inherit;
    font-family: 'David Libre', serif;
    padding-left: 20px;
    overflow: hidden;
}

.message{
    position: relative;
    width: 85%;
    bottom: 20px;
    background-color: rgba(0, 128, 128, 0.9);
    border: 1px solid black;
    box-sizing: border-box;
    border-radius: 10px;
    color: black;
    padding: 5px;
    font-size: 20px;
    cursor: pointer;
    margin: 5px 0;
}

#send{
    position: relative;
    left: 1%;
    bottom: 20px;
    background-color: rgba(0, 128, 128, 0.9);
    border: 1px solid black;
    box-sizing: border-box;
    border-radius: 10px;
    color: black;
    padding: 5px;
    font-size: 20px;
    cursor: pointer;
    margin: 5px 0;
}

::placeholder{
    color: black;
}

#header{
    color: black;
    font-size: 30px;
}

.sentmessage {
	min-width: 20px;
	max-width: 700px;
	padding: 14px 18px;
    margin: 6px 8px;
	background-color: rgba(196,196,196,0.5);
	border-radius: 10px;
    border: 1px solid black;
    align-self: flex-end;
}

.receivedmessage {
	min-width: 20px;
	max-width: 700px;
	padding: 14px 18px;
    margin: 6px 8px;
	background-color: rgba(255, 255, 255, 0.8);
	border-radius: 10px;
    border: 1px solid black;
    align-self: flex-start;
}

.time{
  font-size: 14px;
  color: black;
  text-align: center;
}

.bubbleWrapper {
	padding: 10px 10px;
	display: flex;
	justify-content: flex-end;
	flex-direction: column;
	align-self: flex-end;
    color: black;
}