*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
  }

  body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: -webkit-linear-gradient(top, #008080,white);
    font-family: 'David Libre', serif;
  }

  .info {
    font-weight: 600;
    font-family: 'David Libre', serif;
    font-size: 20px;
  }

  #text {
    display: none;
  }

 